body {
    background: #f5f3e7;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.rosary-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.zoomed-view {
    width: 350px;
    height: 70px;
    overflow: hidden;
    border-radius: 35px;
    background: #f8f6f2;
    box-shadow: 0 2px 16px #98855d32;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 40px;
}

.bead {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 4px;
    background: #ccb08a;
    border: 2px solid #b1986b;
    box-shadow: 0 1px 2px #bbb;
    opacity: 0.8;
    transition: transform 0.2s, border 0.2s;
}
.bead.active {
    border: 3px solid #445f2d;
    transform: scale(1.25);
    opacity: 1;
    background: #e0d5b3;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    padding: 8px 12px;
    border-radius: 7px;
    border: none;
    background: #decda7;
    color: #665633;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: #c7b185;
}
